.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
     grid-template-rows: repeat(4, 1fr);
  }
}

.gridItem {
  position: relative;
  &::after {
    content: attr(data-item);
    display: block;
    padding-bottom: 100%;
    top: 0;
    right: 0;
    position: absolute;
  }

  &[data-item='item-0'] {
    grid-column: 2 / span 2;
    grid-row: 1 / span 3;
  }

  &[data-item='item-1'] {
    background-color: green;
    grid-column: 4;
    grid-row: 1 / span 3;
  }

  &[data-item='item-2'] {
    background-color: purple;
    grid-column: 3 / span 2;
    grid-row: 4;
  }

  &[data-item='item-3'] {
    background-color: skyblue;
    grid-column: 2;
    grid-row: 4;
  }

  &[data-item='item-4'] {
    background-color: yellow;
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  &[data-item='item-5'] {
    background-color: pink;
    grid-column: 1;
    grid-row: 3 / span 2;
  }

  &[data-item='item-6'] {
    background-color: orange;
    grid-row: 1 / span 2;
  }

  &[data-item='item-7'] {
    background-color: peachpuff;
  }
}

.subgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.subgridItem {
  &[data-item='subgrid-item-0'] {
    background-color: red;
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  &[data-item='subgrid-item-1'] {
    background-color: peachpuff;
  }
  &[data-item='subgrid-item-2'] {
    background-color: darkgoldenrod;
  }
}