html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

.page-content {
  width: 1280px;
  max-width: 90%;
  margin: 0 auto;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}